body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  cursor: pointer;
}
.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/* ==========================HEADER================================ */
.header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 16px;
}
.menu {
  display: none;
}
.address-menu {
  display: none;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-link {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.mobile-menu-open-button {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.mobile-open-icon {
  fill: #2f2f37;
}

/*--------------------- mobile-menu----------------------------------- */
.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999999999999999999999;
  background-color: #fff;
}
.mobile-menu-container {
  position: relative;
}
.mobile-close-btn {
  position: absolute;
  top: 16px;
  right: 15px;

  border: 1px solid #e7e9fc;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.mobile-navigation {
  padding-top: 72px;
  margin-bottom: 127px;
}
.mobile-menu-link {
  display: block;
  color: #2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12; /* 111.111% */
  margin-bottom: 40px;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus{
color: #404BBF;
}
.mobile-address-menu{
  margin-bottom: 48px;
}
.mobile-address-menu-item:not(:last-child){
  margin-bottom: 16px;
}


/* social-media */
.mobile-media-icons-list {
  display: flex;
  justify-content: space-between;
  
}
.mobile-social-media-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
}

.mobile-social-media-icons-item {
  fill: #f4f4fd;
}

.mobile-social-media-item-link:hover {
  background-color: #404bbf;
}
.mobile-social-media-item-link:focus {
  background-color: #404bbf;
}
/* ==========================/HEADER================================ */

/* ========================== TABLET HEADER================================ */

/* ==========================/TABLET HEADER================================ */

/* ==========================DESKTOP HEADER================================ */

/* ==========================/DESKTOP HEADER================================ */
